.body-background {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../imge/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: calc(1366px - 79px - 79px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-titel {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 18px 0;
}
.header-text:hover {
  color: #01813f;
}
.header-list-item {
  text-align: center;
  position: relative;
}
.header-list-link {
  text-decoration: none;
}
.header-item-calendar {
  width: 21px;
  height: 24px;
  margin-right: 27px;
}
.header-item-calendar:hover path {
  fill: #01813f;
}
.header-item-enveloper {
  width: 23px;
  height: 23px;
  margin-right: 24px;
}
.header-item-enveloper:hover path {
  fill: #01813f;
}
.header-item-compass {
  width: 23px;
  height: 23px;
  margin-right: 25px;
}
.header-item-compass:hover path {
  fill: #01813f;
}

.header-list-login::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.9);
  width: 1px;
  height: 19px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-list-text {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 2px;
}
.header-list-text:hover .hover-color {
  color: #01813f;
}
.page-form {
  width: 444px;
  margin: 54px auto 74px auto;
  padding: 31px 60px 38px 60px;
  background-color: #ffffff;
  position: relative;
}
.shape {
  position: absolute;
  left: 0;
  top: 29px;
}
.header-form {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0;
}

.item-sing {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  padding-bottom: 15px;
  margin: 0;
}
.item-sing::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
}
.item-log {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  padding-bottom: 13px;
  margin: 0;
  text-align: end;
}

.item-log:hover {
  color: #01813f;
  text-decoration: underline;
}
.button-proprties {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 0;
  position: relative;
}
.button-Facebook {
  background-color: rgba(48, 93, 184, 1);
}
.button-Facebook:hover {
  background-color: #022263;
}
.button-Google {
  background: #df4a32;
  text-align: center;
}
.button-Google:hover {
  background-color: #ab1f09;
}
.button-name-proprties {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  right: 27px;
  top: 11px;
  margin: 0;
}
.button-name-Google {
  padding: 6px 0 6px 31px;
}
.button-name-Google::before {
  content: "";
  background-color: #cd442e;
  width: 1px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
}
.button-name-Facebook {
  padding: 6px 0 6px 19px;
}
.button-name-Facebook::before {
  content: "";
  background-color: #2c56aa;
  width: 1px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
}
.button-logo-Facebook {
  margin-left: 16px;
  width: 12px;
  height: 24px;
}
.button-logo-Google {
  margin-left: 13px;
  width: 30px;
  height: 19px;
}
.border {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  position: relative;
  margin: 0;
  z-index: 5;
}

.border::after {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  width: 152px;
  height: 1px;
  top: 8px;
  left: 0;
  margin: 0;
}
.border::before {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  width: 152px;
  height: 1px;
  top: 8px;
  right: 0;
}
.input-titel {
  width: 324px;
  height: 44px;
  position: relative;
  margin: 15px 0 12px 0;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding-left: 19px;
  color: #434343;
}
.input-titel::placeholder {
  color: #bebebe;
}
.input-titel-check {
  border: none;
  padding: 0;
}
.text-accept {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.checkbox-accept {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: sub;
}
.accent-color {
  color: #3cb878;
  font-size: 14px;
  line-height: 14px;
  margin: 12px 0;
}
.input-titel:hover .accent-color {
  color: #01813f;
  text-decoration: underline;
}
.checkbox-accept::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../imge/Vector\ 1.svg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.check-accept {
  top: 3px;
  left: 3px;
  position: absolute;

  z-index: -1;
  opacity: 0;
}
.button-create {
  width: 324px;
  height: 46px;
  background-color: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 20px;
}
.button-create:hover {
  background-color: #01813f;
}
.input-titel:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.check-accept:checked + .checkbox-accept::before {
  transform: translate(-50%, -50%) scale(1);
}
